@tailwind base;
@tailwind components;
@tailwind utilities;

/* input[type="text"]:focus ~ .input-text {
  @apply text-gray-500 bg-white transform -translate-y-5 -translate-x-0 scale-75;
}

input[type="date"]:focus ~ .input-text {
  @apply text-gray-500 bg-white transform -translate-y-5 -translate-x-0 scale-75;
} */

@layer base {
  :root {
    --text-color: #010b13;
    --fill-color: rgb(8, 26, 81);
    --fill-color-indicator: rgb(8, 26, 81);
  }

  .theme-dark {
    --fill-color: rgb(15, 15, 15);
    --text-color: rgb(210, 210, 210);
    --fill-color-indicator: white;
    --hover-indicator: rgba(255, 255, 255, 0.17);
  }

  .theme-light {
    --text-color: rgb(45, 45, 45);
    --fill-color: #e5e7eb;
    --fill-color-indicator: #000;
    /* --hover-indicator: ; */
  }
}

/* export const lightTheme = {
  bg: "rgb(255,255,255)",
  bgAlpha: "rgba(250,250,250,.3)",
  bg2: "rgb(245,245,245)",
  bg3: "rgb(230,230,230)",
  text: "rgb(45,45,45)",
  primary: "rgb(52, 131, 235)",
};
export const darkTheme = {
  bg: "rgb(15,15,15)",
  bgAlpha: "rgba(0,0,0,.3)",
  bg2: "rgb(30,30,30)",
  bg3: "rgb(50,50,50)",
  text: "rgb(210,210,210)",
  primary: "rgb(52, 131, 235)",
}; */

/* Routing active styling */
@layer components {
  .active-state {
    @apply text-skin-base  text-indigo-700 mt-2 text-sm flex items-center gap-x-4 cursor-pointer p-2 rounded-md bg-gray-500 visited:text-gray-300 hover:no-underline visited:no-underline focus:no-underline;
  }
  .inactive-state {
    @apply text-skin-base mt-2 text-sm flex items-center gap-x-4 cursor-pointer p-2 hover:bg-gray-500 rounded-md hover:no-underline hover:text-gray-300;
  }
}

/* Internal routing styling */

@layer components {
  .active-navbar {
    @apply text-slate-600 mt-2 text-sm font-[1100]  flex items-center gap-x-4 cursor-pointer p-2 pb-0 border border-x-0  border-t-0 border-y-2 border-slate-600 visited:text-black hover:no-underline visited:no-underline focus:no-underline mx-2;
  }

  .inactive-navbar {
    @apply text-slate-600 mt-2 text-sm flex items-center gap-x-4 cursor-pointer p-2 hover:bg-light-white rounded-md hover:no-underline hover:text-black;
  }
}

/* Profile container styling  */

@layer components {
  .profile-lg {
    @apply h-16 w-16 rounded-full;
  }

  .profile-sm {
    @apply h-9 w-9 rounded-full;
  }
}

@layer components {
  .transit {
    @apply translate-x-5;
  }
}

@layer components {
  .active-container-items {
    @apply mt-36;
  }

  .inactive-container-items {
    @apply mt-44;
  }
}

/* Horizontal line styling */

@layer components {
  .hr-dark {
    @apply border h-4 border-slate-500;
  }
  .hr-light {
    @apply border   border-slate-500  h-4;
  }
}
